body
{
  background: black;
  color: white;
  width: 400px;
  margin: 15px;

}

legend
{
  color: white;
}

*
{
  font-family: 'Exo 2', sans-serif;
  font-family: 'Audiowide', cursive;
  font-size: 0.9rem;
}

h1
{
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 4rem;
  color: cyan;
  margin-bottom: -1.5rem;
  letter-spacing: 3px;
  margin-top: 0;
}

h2
{
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
  color: white;
  letter-spacing: 2px;
  font-variant: small-caps;
}

p
{
  font-family: 'Exo 2', sans-serif;
  text-align: justify;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

blockquote
{
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-style: italic;
}

::-webkit-input-placeholder
{
    color: #999;
}

.pure-form input[type=password],
.pure-form input[type=text]
{
  width: 100%;
  background: transparent;
  border: 1px solid #999;
  border-radius: 0;
  color: white;
  margin-bottom: 1rem;
  box-shadow: none;
  height: 48px;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.1rem;
}

.pure-form-stacked input[type=password]:focus,
.pure-form-stacked input[type=text]:focus
{
  border: 1px solid cyan;
}

.flex
{
  display: flex;
}

.pure-form:not(.pure-form-stacked) input[type=text],
.pure-form:not(.pure-form-stacked) input[type=password]
{
  margin-right: 1%;
  flex-grow: 1;
  font-variant: normal;
  font-size: 0.9rem;
}

.pure-form:not(.pure-form-stacked) input[type=text].copied
{
  color: #999;
  font-variant: small-caps;
  font-size: 1.1rem;
}

.pure-form:not(.pure-form-stacked) input[type=text]:focus,
.pure-form:not(.pure-form-stacked) input[type=password]:focus
{
  border: 1px solid #999;
}

.pure-form button,
.pure-form-stacked button
{
  width: 100%;
  border-radius: 0;
  background: transparent;
  color: white;
  font-family: 'Audiowide', cursive;
  border: 1px solid white;
  margin-bottom: 1rem;
  height: 48px;
}

.pure-form:not(.pure-form-stacked) button
{
  margin-right: 1%;
}

.pure-form:not(.pure-form-stacked) button:last-child
{
  margin-right: 0;
}

.pure-form button:focus,
.pure-form-stacked button:focus
{
  border: 1px solid cyan;
}

.pure-form button:active,
.pure-form-stacked button:active
{
  border: 1px solid cyan;
  background: rgba(0,255,255,0.2);
  color: cyan;
}

.result
{
  text-align: center;
  width: 100%;
  font-family: 'Audiowide', cursive;
}

#spinner
{
  display: none;
  width:100%;
}

.pure-form .pure-button-secondary,
.pure-form .pure-button-secondary:focus
{
  border: 1px solid #999;
  color: #999;
}

.pure-form .pure-button-secondary:active
{
  border: 1px solid cyan;
  color: cyan;
}

.pure-form input.aes-key-animation
{
  background: linear-gradient(270deg, transparent 20%, cyan 50%, transparent 80%);
	background-size: 600% 600%;
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient
{
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

@-moz-keyframes Gradient
{
	0%{background-position:0% 0%}
	50%{background-position:100% 100%}
	100%{background-position:0% 0%}
}

@keyframes Gradient
{
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}

#aes-key-hidden
{
  position: absolute;
  opacity: 0;
  margin-left: -10000px;
}

footer p
{
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a
{
  text-align: center;
  font-size: 0.8rem;
  color: #999;
  font-family: 'Exo 2', sans-serif;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

::selection
{
    background: cyan;
    color: black;
}

::-moz-selection
{
    background: cyan;
    color: black;
}
